@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');

:root {
    --primaryColor: #FBBF24;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-color: #ececbd;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

/*Header*/

.header {
    background-color: var(--primaryColor);
    text-align: center;
    padding: 1rem;

}

.header.headerHeading {
    color: blue;
}

/*Input*/

#txt-input {
    height: 20vh;
    padding: 1rem;
    margin: auto;
    display: block;
    max-width: 893px;
    margin-top: 2rem;
    width: 80%;
    font-size: large;
    background: transparent;

}

/*Button*/
#btn-translate {
    display: block;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    width: 30%;
    font-weight: bolder;
    font-size: larger;
    background-color: var(--primaryColor);
}

#clear-txt{
    display: block;
    padding: 0.5rem 1rem;
    background-color:var(--primaryColor);
    margin: auto;
    margin-top: 1rem ;
    width: 15%;
    text-align: center;
    padding: auto;
    font-weight: bold;
}

/*Output*/

#output-heading {
    
    padding-top: 2rem; 
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-style: oblique;
    min-width: 100px;

}

#output {

    border: 1px solid black;
    border-color:rgb(118, 118, 118);
    min-height: 20vh;
    height: 20res;
    padding: 1rem;
    margin: auto;
    display: block;
    max-width: 893px;
    margin-top: 2rem;
    width: 80%;
    font-size: large;
    
}

/*footer*/

.footer{
    background-color: var(--primaryColor);
    margin-top: 3rem;
    text-align: center;
    padding: 1rem;
}
.footer-content {
    width: 600px;
    margin: auto;
    text-align: left;
}

